header {
    background-color: #B59DA4;
    color: #551B14;
    padding: 20px;
    font-size: 24px;
    justify-content: space-between;
   }
   
body {
   font-family: "Kanit", sans-serif;
   margin: 0;
   padding: 0;
   text-align: center;
   background-color: #ffffff;
}
h1{
    font-size: 30px;
    color: #551B14;
}
.section1{
    background-color: #B59DA4;
    color: #551B14;
    font-size: 24px;
}
.section1 p, .section2 p{
    color: #551B14;
    font-size: 24px;
    display: inline-block;
}
.Imagen1{
    display: inline-block;
}
.Kelly1{
    width: 35%;
}
.Presentación1{
    display: inline-block;
    width: 60%;
}

nav {
    margin: 20px 0;
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: #fff;
    background-color: #645230;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}
nav a:hover{
    background-color: #473b24;
}

