header {
    background-color: #B59DA4;
    color: #551B14;
    padding: 20px;
    font-size: 24px;
}

body {
   font-family: "Kanit", sans-serif;
   margin: 0;
   padding: 0;
   text-align: center;
   background-color: #ffffff;
}
h2{
    font-size: 30px;
    color: #551B14;
    display: inline-block;
    margin-left: 70px;
    margin-right: 70px;
}
.btnI{
    display: inline-block;
    color: #551B14;
    padding: 15px;
    border-radius: 40px;
    border: 4px solid #551B14;
    text-decoration: none;
    margin-left: 70px;
    margin-right: 70px;
}
.btnI:hover{
    border: 4px solid #38100b;
    color: #38100b;
}
.section1{
    background-color: #B59DA4;
    color: #551B14;
    font-size: 24px;
}
.section1 p{
    color: #551B14;
    font-size: 24px;
    display: inline-block;
}
.Imagen1{
    display: inline-block;
}
.Kelly1{
    width: 35%;
}
.Presentación1{
    display: inline-block;
    width: 60%;
}
p{
    font-size: 20px;
}
footer{
    background-color: #EEEBE5;
    color: #551B14;
    padding: 40px;
}
.fichero1{
    background-color: #ffffff;
    width: 25%;
    display: inline-block;
    border-radius: 15px;
    padding: 20px;
}
.fichero2{
    background-color: #ffffff;
    width: 52%;
    display: inline-block;
    border-radius: 15px;
    padding: 20px;
}
.cap1, .cap2, .cap3, .cap4, .cap5{
    display: inline-block;
    margin: 10px;
}

.icono1, .icono2, .icono3, .icono4, .icono5{
    height: 20px;
    display: inline-block;
}
.TYC p{
    background-color: #ffffff;
    width: 80%;
    border-radius: 15px;
    padding: 20px;
    justify-self: center;
}
h4{
    display: inline-block;
}
